.page-template-template-contact #content{
	min-height: 0;
}

#contact-copy-wrap {
    padding-bottom: 1.4em;

	#contact-copy {
		color: #989D9C;
		font-size: 1.125rem;
		font-weight: 500;
	    max-width: 573px;
	    padding-top: 3.6em;
	}
	
}