$icomoon-font-path: "../fonts/theme-icons" !default;

$icon-download: "\e911";
$icon-open-external: "\e912";
$icon-quote: "\e913";
$icon-trex-arrow-right: "\e914";
$icon-chevron-left-filled: "\e915";
$icon-instagram: "\e90a";
$icon-linkedin: "\e90b";
$icon-facebook: "\e90c";
$icon-twitter: "\e90d";
$icon-envelope: "\e90f";
$icon-phone: "\e910";
$icon-bars: "\e905";
$icon-navicon: "\e905";
$icon-reorder: "\e905";
$icon-chevron-left: "\e907";
$icon-chevron-right: "\e908";
$icon-close: "\e902";
$icon-search: "\e906";
$icon-arrow-right: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-down: "\e903";
$icon-arrow-up: "\e904";
$icon-elipsis: "\e90e";


