@charset "UTF-8";

@import "../fonts/dg-admin-icons/style.scss";


#wpadminbar #wp-admin-bar-dg_logo.menupop {
   cursor: pointer;
}

#wpadminbar #wp-admin-bar-dg_logo .ab-empty-item {
   padding-left: 8px;
}
#wpadminbar #wp-admin-bar-dg_logo i {
   font-size: 24px;
   width: 24px;
   height: 24px;
   line-height: 24px;
   float: left;
   margin-right: 6px;
   position: relative;
   top: 4px;
   color: #a0a5aa;
   color: rgba(240,245,250,.6);
   display: inline-block;
}

#wpadminbar #wp-admin-bar-dg_logo.menupop:hover i {
   color: #FBBF40;
}



#dg-info {
   color: #888;
   font-size: 13px;
   line-height: 24px;
}
#dg-info a {
   color: #333;
   text-decoration: none;
}
#dg-info i {
   font-size: 24px;
   width: 24px;
   height: 24px;
   line-height: 24px;
   float: left;
   margin-right: 6px;
   color: #1e1e1e;
   background: #FBBF40;
   display: inline-block;
}