// HELPER CLASSES

.clear {
  @include clearfix;
}
.center-block {
  @include center-block;
}

.relative {
  position: relative;
}

.u-no-break {
  white-space: nowrap;
}

.vert-center { // This should really only be for .container
  display: table;
  height: 100%;
  //media @mobile {
    // width: 100%;
  //}
  > * { // And this would be the .row
    display: table-cell;
    vertical-align: middle;
  }
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.clr-white {
  color: white !important;
}

.clr-primary {
  color: $brand-primary !important;
}

.clr-secondary {
  color: $brand-secondary !important;
}

.clr-gray {
  color: $brand-gray !important;
}

.bg-gray {
  background-color: $brand-gray;
}


.is-serif {
  font-family: $font-serif;
}

.is-sans {
  font-family: $font-sans;
}

.is-caps {
  text-transform: uppercase;
}

.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}

.lh1 {
  line-height: 1;
}

.lh125 {
  line-height: 1.25;
}


.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}

.mt0 {
  margin-top: 0;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
  @include breakpoint(small down) {
    margin-top: 20px;
  }
}

.mt40 {
  margin-top: 40px;
  @include breakpoint(small down) {
    margin-top: 20px;
  }
}

.mt60 {
  margin-top: 60px;
  @include breakpoint(small down) {
    margin-top: 30px;
  }
}

.mt80 {
  margin-top: 80px;
  @include breakpoint(small down) {
    margin-top: 40px;
  }
}

.mt100 {
  margin-top: 100px;
  @include breakpoint(small down) {
    margin-top: 50px;
  }
}

.mb0 {
  margin-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}

.mb40 {
  margin-bottom: 40px;
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}

.mb60 {
  margin-bottom: 60px;
  @include breakpoint(small down) {
    margin-bottom: 30px;
  }
}

.mb80 {
  margin-bottom: 80px;
  @include breakpoint(small down) {
    margin-bottom: 40px;
  }
}

.mb100 {
  margin-bottom: 100px;
  @include breakpoint(small down) {
    margin-bottom: 50px;
  }
}

.pt0 {
  padding-top: 0;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
  @include breakpoint(small down) {
    padding-top: 20px;
  }
}

.pt40 {
  padding-top: 40px;
  @include breakpoint(small down) {
    padding-top: 20px;
  }
}

.pt60 {
  padding-top: 60px;
  @include breakpoint(small down) {
    padding-top: 30px;
  }
}

.pt80 {
  padding-top: 80px;
  @include breakpoint(small down) {
    padding-top: 40px;
  }
}

.pt100 {
  padding-top: 100px;
  @include breakpoint(small down) {
    padding-top: 50px;
  }
}

.pt120 {
  padding-top: 120px;
  @include breakpoint(small down) {
    padding-top: 60px;
  }
}

.pt160 {
  padding-top: 160px !important;
  @include breakpoint(small down) {
    padding-top: 80px !important;
  }
}

.pb0 {
  padding-bottom: 0;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
  @include breakpoint(small down) {
    padding-bottom: 20px;
  }
}

.pb40 {
  padding-bottom: 40px;
  @include breakpoint(small down) {
    padding-bottom: 20px;
  }
}

.pb60 {
  padding-bottom: 60px;
  @include breakpoint(small down) {
    padding-bottom: 30px;
  }
}

.pb80 {
  padding-bottom: 80px;
  @include breakpoint(small down) {
    padding-bottom: 40px;
  }
}

.pb100 {
  padding-bottom: 100px;
  @include breakpoint(small down) {
    padding-bottom: 50px;
  }
}

.pb120 {
  padding-bottom: 120px;
  @include breakpoint(small down) {
    padding-bottom: 60px;
  }
}

.pb160 {
  padding-bottom: 160px !important;
  @include breakpoint(small down) {
    padding-bottom: 80px !important;
  }
}


.padd80 {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.padd100 {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.padd120 {
  padding-top: 120px;
  padding-bottom: 120px;
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.pr0 {
  padding-right:0;
}

.altrows > div:nth-child(2n) {
  div {
    float: right;
    + div {
      float: left;
    }
    > div {
      float: left;

      + div {
        float: right;
      }
    }
  }

}


.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.js-no-scroll {
  overflow: hidden !important;
}
.js-body-fixed {
  overflow: hidden;
  margin-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fade {
  opacity: 0 !important;
  .no-js & {
    opacity: 1 !important;
  }
  @include global-transition;
}
.fade.in {
  opacity: 1 !important;
}

.uppercase {
  text-transform: uppercase;
}


